<% provide :title, t(".title") %>

<div id="contact-content">   
  <div id="contact-lienhe">
    <div class="container">
      <div class="form-contact">
        <h1><%= t ".write_comment" %></h1>
        <div class="col-md-6 form-group">
          <label class="text"><%= t ".text_name" %><b>*</b></label>
          <input type="text" class="form-control" placeholder="<%= t(".input_name")%>">
        </div>
        <div class="col-md-6 form-group">
          <label class="text"><%= t ".text_address" %><b>*</b></label>
          <input type="text" class="form-control" placeholder="<%= t(".input_address")%>">
        </div>
        <div class="col-md-6 form-group">
          <label class="text"><%= t ".text_email" %><b>*</b></label>
          <input type="email" class="form-control" placeholder="<%= t(".input_email")%>">
        </div>
        <div class="col-md-6 form-group">
          <label class="text"><%= t ".text_phone" %><b>*</b></label>
          <input type="number" class="form-control" placeholder="<%= t(".input_phone")%>">
        </div>
        <div class="col-md-12 form-group">
          <label class="text"><%= t ".text_title" %><b>*</b></label>
          <input type="text" class="form-control" placeholder="<%= t(".input_title")%>">
        </div>
        <div class="col-md-12 form-group">
          <label class="text"><%= t ".text_comment" %><b>*</b></label>
          <textarea class="form-control" rows="5" id="comment"></textarea>
        </div>
        <div class="col-md-3 btn-lienhe">
          <button class="btn lienhe"><span><%= t ".btn_send" %></span></button>
        </div>
      </div>
    </div>
  </div>
</div>
