<div class="search">
  <div class="container">

    <div class="section-heading">
      <h1>
        <%= t ".text" %>
      </h1>
      <p>
        <%= t ".introduce_first" %>
      </p>
      <p>
        <%= t ".introduce_second" %>
      </p>
    </div>

    <%= form_tag hotels_path, method: :get do  %>
    <div class="input-group">
      <p class="form-text">
        <%= t ".title-search" %>
      </p>
      <div class="col-md-8">
        <%= text_field_tag "search", nil, placeholde: t(".input_hotel") %>
      </div>
      <div class="col-md-2">
        <%= text_field_tag "received", nil, data: {datetimepicker: "true"}, placeholder: t(".received_date") %>
      </div>
      <div class="col-md-2"> 
        <%= text_field_tag "pay", nil, data: {datetimepicker: "true"}, placeholder: t(".pay_date") %>
      </div>
      <div class="col-md-8"></div>
      <div class="col-md-2">
          <%= submit_tag t(".get_location"), class: "btn btn-primary" %>
      </div>
      <div class="col-md-2">
          <%= submit_tag t(".search"), class: "btn btn-primary" %>
      </div>
    </div>
    <% end %>
  </div>
</div>

<div class="cor-form ">
  <div class="page_width">
    <div class="desktop-container">
      <div id="carouselExampleSlidesOnly" class="carousel slide carousel-slide-desktop" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag "1.jpg" %>
          </div>
        </div>
      </div>
    </div>
    <div class="phone-container">
      <div id="carouselExampleSlidesOnly" class="carousel slide carousel-slide-phone" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag "11.jpg" %>
          </div>
          <div class="carousel-item">
            <%= image_tag "22.jpg" %>
          </div>
          <div class="carousel-item">
            <%= image_tag "33.jpg" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
