<!DOCTYPE html>
<html>

<head>
  <title>
    <%= full_title yield :title %>
  </title>
  <%= render "layouts/admin/admin_default" %>
</head>

<body cz-shortcut-listen="true">
  <div id="wrapper">
    <%= render "layouts/admin/nav" %>
    <div id="page-wrapper" style="min-height: 196px;">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>">
          <%= message %>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <!-- /#page-wrapper -->

  </div>
</body>

</html>
