<tr role="row">
  <td>
    <%= category.id %>
  </td>
  <td>
    <%= category.name %>
  </td>
  <td>
    <%= category.posts_count %>
  </td>
  <td>
    <%= category.description %>
  </td>
  <td>
    <%= l category.created_at, format: :short %>
  </td>
  <td>
    <%= l category.updated_at, format: :short %>
  </td>
  <td>
    <%= link_to admin_category_path(category), class: "btn btn-xs btn-outline btn-primary" do %>
      <i class="fa fa-eye"></i>
    <% end %>
    <%= link_to edit_admin_category_path(category), class: "btn btn-xs btn-outline btn-success" do %>
      <i class="fa fa-pencil"></i>
    <% end %>
    <%= link_to admin_category_path(category), class: "btn btn-xs btn-outline btn-danger",
        method: :delete, data:{confirm: t(".confirm")} do %>
      <i class="fa fa-trash"></i>
    <% end %>
  </td>
</tr>
