<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="box-left ">
        <div class="box-map">
        </div>
        <div class="box-banner">
          <%= image_tag "banner3.png" %>
        </div>
        <div class="box-price">
          <div class="title-box">
            <p>
              <%= t ".title-price" %>
            </p>
          </div>
          <div class="form-check">
            <%= radio_button_tag "price", "option1", false, class: "form-check-input " %> <%= t ".price-1" %><br>
            <%= radio_button_tag "price", "option2", false, class: "form-check-input " %> <%= t ".price-2" %><br>
            <%= radio_button_tag "price", "option3", false, class: "form-check-input " %> <%= t ".price-3" %><br>
            <%= radio_button_tag "price", "option4", false, class: "form-check-input " %> <%= t ".price-4" %><br>
          </div>
          <div class="slidecontainer">
            <div class="row">
              <p class="col-md-8"></p>
              <div class="col-md-4">
                <button type="button" class="btn btn-primary">
                  <%= t ".filter" %>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="box-type">
          <div class="title-box">
            <p>
              <%= t ".type-stay" %>
            </p>
          </div>
          <div class="form-check">
            <%= radio_button_tag "type-hotel", "option1", false, class: "form-check-input " %> <%= t ".title" %><br>
            <%= radio_button_tag "type-hotel", "option2", false, class: "form-check-input " %> <%= t ".hotel" %><br>
            <%= radio_button_tag "type-hotel", "option3", false, class: "form-check-input " %> <%= t ".home-stay" %><br>
            <%= radio_button_tag "type-hotel", "option4", false, class: "form-check-input " %> <%= t ".motel" %><br>
            <%= radio_button_tag "type-hotel", "option5", false, class: "form-check-input " %> <%= t ".apartment" %><br>
            <%= radio_button_tag "type-hotel", "option6", false, class: "form-check-input " %> <%= t ".resort " %><br>
          </div>
        </div>
        <div class="box-tintuc">
          <div class="title-box">
            <p>
              <%= t ".title-interdepend" %>
            </p>
          </div>
          <div class="media col-md-12">
            <%= image_tag "tintuc.jpg", class: "col-md-3" %>
            <div class="col-md-9">
              <%= t ".title-news" %>
            </div>
          </div>
          <div class="media col-md-12">
            <%= image_tag "tintuc.jpg", class: "col-md-3" %>
            <div class="col-md-9">
              <%= t ".title-news" %>
            </div>
          </div>
          <div class="media col-md-12">
            <%= image_tag "tintuc.jpg", class: "col-md-3" %>
            <div class="col-md-9">
              <%= t ".title-news" %>
            </div>
          </div>
          <div class="media col-md-12">
            <%= image_tag "tintuc.jpg", class: "col-md-3" %>
            <div class="col-md-9">
              <%= t ".title-news" %>
            </div>
          </div>
          <div class="media col-md-12">
            <%= image_tag "tintuc.jpg", class: "col-md-3" %>
            <div class="col-md-9">
              <%= t ".title-news" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="box-list-hotel">
        <%= render @hotels %>
        <%= paginate @hotels, theme: "twitter-bootstrap-4" %>
      </div>
    </div>
  </div>
</div>
