<footer>
  <div class="footer">
    <div class="contain">
    <div class="col mt-3">
      <h1><%= t ".text" %></h1>
      <ul>
        <li><%= t ".book" %></li>
        <li><%= t ".contact_us" %></li>
        <li><%= t ".help" %></li>
        <li><%= t ".recruitment" %></li>
      </ul>
    </div>
    <div class="col mt-3">
      <h1><%= t ".contact" %></h1>
      <ul>
        <li><%= t ".company" %></li>
        <li><%= t ".address_company" %></li>
        <li><%= t ".hot_line" %></li>
        <li><%= t ".phone" %></li>
        <li><%= t ".email" %></li>
      </ul>
    </div>
    <div class="col mt-3">
      <h1><%= t ".default" %></h1>
      <ul>
        <li><%= t ".blog" %></li>
        <li><%= t ".sign_promotion" %></li>
        <li><%= t ".policy" %></li>
        <li><%= t ".acount" %></li>
        <li><%= t ".sign_hotel" %></li>
      </ul>
    </div>
    <div class="col social mt-3">
      <h1><%= t ".social" %></h1>
      <ul>
        <li><img src="https://svgshare.com/i/5fq.svg" width="32" style="width: 32px;"></li>
        <li><img src="https://svgshare.com/i/5eA.svg" width="32" style="width: 32px;"></li>
        <li><img src="https://svgshare.com/i/5f_.svg" width="32" style="width: 32px;"></li>
      </ul>
    </div>
  </div>
</footer>
